@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,500;1,200;1,300&display=swap');

.agente {
  width: 280px;
  position: relative;
}

.deletar {
  top: 4px;
  right: 5px;
  color: #F0F0F0;
  position: absolute;
}

.agente .cabecalho {
  background-color: #F0F0F0;
  border-radius: 10px 10px 0px 0px;
}

.agente img {
  width: 100px;
  bottom: -50px;
  border-radius: 50%;
  position: relative;
}

.agente .rodape {
  padding-top: 90px;
  padding-bottom: 40px;
  background: #FFFFFF;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
}

.agente .rodape h4 {
  font-size: 20px;
  font-weight: 800;
  color: #FF4655;
  line-height: 22px;
  margin-bottom: 8px;
  font-family: 'Montserrat', sans-serif;
}

.agente .rodape h5 {
  font-size: 17px;
  padding: 0 16px;
  color: #212121;
  line-height: 22px;
  font-family: 'Montserrat', sans-serif;
}