@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.campo-texto {
  margin: 24px 0;
}

.campo-texto label {
  display: block;
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.campo-texto input {
  width: 100%;
  border: none;
  padding: 20px;
  font-size: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
}