.funcao {
  text-align: center;
  position: relative;
}

.inputColor {
  position: absolute;
  top: 20px;
  right: 50px;
  border: 2px solid transparent;
  background: transparent;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.inputColor:focus {
  outline: none;
  box-shadow: none;
}

.inputColor::-webkit-color-swatch {
  border: 1px solid #FFFFFF;
}

.funcao h3 {
  font-size: 30px;
  padding-bottom: 8px;
  display: inline-block;
  border-bottom: 4px solid;
}

.funcao .agentes {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  flex-wrap: wrap;
}