.funcao {
  padding-bottom: 20px;
  text-align: center;
}

.funcao h3 {
  font-size: 30px;
  padding-bottom: 8px;
  display: inline-block;
  border-bottom: 4px solid;
}

.funcao .agentes {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  flex-wrap: wrap;
}