@font-face {
  font-family: 'Valorant';
  src: url('./assets/fonts/ValorantFont.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Valorant', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 8px;           
}

body::-webkit-scrollbar-thumb {
  border-radius: 20px;      
  border: 2px solid transparent;  
  background-color: #FF4655;
}

.funcao div {
  padding-bottom: 20px;
}

.funcao h1 {
  text-align: center;
  font-size: 38px;
  color: #FF4655;
  border-bottom: 4px solid #FF4655;
  padding-bottom: 24px;
  display: inline-block;
}