@font-face {
  font-family: 'Valorant';
  src: url('./assets/fonts/ValorantFont.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Valorant', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
